PROJECT_SLUG=nome-projeto

ENVIRONMENT=production # production, development
ENVIRONMENT_DEBUG=false

# Python
API_BIND_ADDR=localhost
API_PORT=8000
CORS_ORIGINS=["*"]

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_BIND_ADDR=localhost
POSTGRES_PORT=5432
